<settings>
  <proxies>
    <proxy>
      <id>surfproxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>surf.proxy.agis.allianz</host>
      <port>8080</port>
      <username>proxyuser</username>
      <password>somepassword</password>
    </proxy>
  </proxies>
</settings>
